In [15]:
import pandas_datareader.data as web
import pandas as pd
#import quandl 
import datetime

In [14]:
aapl = web.DataReader('AAPL', 'google',start =datetime.datetime(2006,10,1), end=datetime.datetime(2012,1,1))
aapl.head()

             Open   High    Low  Close     Volume
Date
2006-10-02  10.73  10.84  10.61  10.69  178263043
2006-10-03  10.64  10.71  10.46  10.58  197724611
2006-10-04  10.59  10.78  10.45  10.77  209840785
2006-10-05  10.65  10.88  10.59  10.69  170994999
2006-10-06  10.63  10.72  10.54  10.60  116749486

In [12]:
aapl.describe()

              Open         High          Low        Close        Volume
count  1322.000000  1322.000000  1322.000000  1322.000000  1.322000e+03
mean     28.897012    29.234463    28.503268    28.885348  1.885441e+08
std      14.127249    14.202423    14.033172    14.124514  1.029074e+08
min      10.490000    10.570000    10.370000    10.460000  3.941499e+07
25%      17.460000    17.752500    17.182500    17.430000  1.122079e+08
50%      25.215000    25.620000    24.715000    25.115000  1.631520e+08
75%      38.807500    39.187500    38.370000    38.705000  2.321660e+08
max      60.250000    60.960000    59.430000    60.320000  8.432640e+08

In [13]:
aapl.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1322 entries, 2006-10-02 to 2011-12-30
Data columns (total 5 columns):
Open      1322 non-null float64
High      1322 non-null float64
Low       1322 non-null float64
Close     1322 non-null float64
Volume    1322 non-null int64
dtypes: float64(4), int64(1)
memory usage: 62.0 KB

In [21]:
aapl.to_csv('data/aapl_ohlc.csv')
df = pd.read_csv('data/aapl_ohlc.csv', header=0, index_col='Date', parse_dates=True)

In [23]:

aapl.index

DatetimeIndex(['2006-10-02', '2006-10-03', '2006-10-04', '2006-10-05',
               '2006-10-06', '2006-10-09', '2006-10-10', '2006-10-11',
               '2006-10-12', '2006-10-13',
               ...
               '2011-12-16', '2011-12-19', '2011-12-20', '2011-12-21',
               '2011-12-22', '2011-12-23', '2011-12-27', '2011-12-28',
               '2011-12-29', '2011-12-30'],
              dtype='datetime64[ns]', name='Date', length=1322, freq=None)

In [25]:
aapl.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [26]:
ts = aapl['Close'][10:]

In [27]:
type(ts)

pandas.core.series.Series